<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Pest Detection during Night</title>
</head>
<body>
    <div class="container">
        <h1>Pest Detection during Night</h1>
        <div class="options">
            <a href="/detector" class="button">Insights</a>
            <a href="/filter" class="button">Filter</a>
        </div>
    </div>
</body>
</html>